@echo off
echo "====== START 40_Install_work.bat ========="

echo "[ WinSCP ]"
WinGet install -e --id WinSCP.WinSCP

echo "[ VSCode ]"
WinGet install -e --id Microsoft.VisualStudioCode

echo "[ Google Drive ]"
WinGet install -e --id Gogle.GoogleDrive

echo "[ Bitwarden ]"
WinGet install -e --id Bitwarden.Bitwarden
echo "[ Docker ]"
WinGet install -e --id Docker.DockerDesktop

echo "[ Zoom ]"
WinGet install -e --id Zoom.Zoom

echo "[ KeePassXC ]"
WinGet install -e --id KeePassXCTeam.KeePassXC

echo "[ Deno ]"
WinGet install -e --id DenoLand.Deno

echo "[ PuTTY ]"
WinGet install -e --id PuTTY.PuTTY
