@echo off
echo "====== START 30_Install_tools.bat ========="

echo "[ PowerToys ]"
WinGet install -e --id Microsoft.PowerToys

echo "[ WindowsTerminal ]"
WinGet install -e --id Microsoft.WindowsTerminal

echo "[ FoxitReader ]"
WinGet install -e --id Foxit.FoxitReader

echo "[ WinMerge ]"
WinGet install -e --id WinMerge.WinMerge

echo "[ 7zip ]"
WinGet install -e --id 7zip.7zip

echo "[ InfraRecorder ]"
WinGet install -e --id ChristianKindahl.InfraRecorder

echo "[ VLC ]"
WinGet install -e --id VideoLAN.VLC

echo "[ Thunderbird ]"
WinGet install -e --id Mozilla.Thunderbird.ja

exit 0
