{{ if eq .chezmoi.os "windows" }}
winget install -e -id WinSCP.WinSCP
winget install -e -id Microsoft.VisualStudioCode

winget install -e -id Gogle.GoogleDrive
winget install -e -id Gogle.JapaneseIME

winget install -e -id Bitwarden.Bitwarden
winget install -e -id Docker.DockerDesktop

winget install -e -id Zoom.Zoom
winget install -e -id KeePassXCTeam.KeePassXC
{{ end }}
